@define-mixin kicsi {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin közepes {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin nagy {
    @media (min-width: 1200px) {
        @mixin-content;
    }
}

@define-mixin clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}