.row{

    @mixin clearfix;

    @mixin közepes{

        &--gutters > div {
            padding-right: 65px;
            /*  ez a fő body-ra van vonatkoztatva: box-sizing: border-box; */
        }

        &--gutters-large {
            padding-right: -100px;
        }

        &--gutters-large > div{
            padding-right: 100px;
        }
    
        &__közepes-4{
            float: left;
            width: 33.33%;
        }

        &__közepes-4-nagyobb {
            width: 37%;
        }

        &__közepes-6{
            float: left;
            width: 50%;
        }

        &__közepes-8{
            float: left;
            width: 66.66%;
        }

        &__közepes-8-kisebb{
            width: 63%;
        }
    }
}